:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

::ng-deep #toolbar {
    background-color: var(--dx-component-color-bg);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.08);
    padding: 5px 10px;
    z-index: 10000;
}

::ng-deep .dx-list-item {
    border: none !important;
    color: #d1d5db;
    transition: background-color 0.2s ease;
}

::ng-deep .dx-list-item:hover {
    background-color: rgba(75, 85, 99, 0.5) !important;

    color: rgba(255, 255, 255, 0.5) !important;
}

::ng-deep .dx-list-item.dx-state-hover {
    background-color: rgba(75, 85, 99, 0.5) !important;

    color: rgba(255, 255, 255, 0.5) !important;
}

::ng-deep .dx-list-item.dx-state-active {
    background-color: rgba(59, 130, 246, 0.3) !important;
}

::ng-deep .dx-list {
    background-color: transparent !important;
}