@import "tailwindcss";
@import "devextreme/dist/css/dx.light.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

* {
    outline: none;
}