@import "tailwindcss";

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

* {
    outline: none;
}

app-login-form .dx-button-content {
    font-weight: 600;
    letter-spacing: 0.3px;
}

app-login-form .dx-label span {
    color: #475569;
    font-size: 13px;
}

.dx-toast-wrapper {
    z-index: 10001 !important;
}